body{
    margin:0;
    padding:20px 15px;
}
.main{
    display:flex;

}
.container{
    flex:50%;
}
.image{
    flex:50%;
    text-align: center;
}

.navbar {
    text-decoration: none;
    background-color: grey;
    padding:10px 15px;
    
}
.navbar a{
    color:black;
    text-decoration: none;
    padding:15px 8px;
}

.profileWrapper{
    width: 100%;
    height: auto;
    display:inline-flex;
}
.formItem{
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.center {
    text-align: center;
}
.profile img{
    width:200px;
    height:250px;
    padding:10px;
    border: 1px solid grey;
    border-radius: 12px;
}
.profile .logo{
    width: 350px;
    height: 350px;
    margin: 20px;
    text-align: center;
}
.button{
    display:flex;
    border-radius:4px;
    justify-content:space-evenly;
    
}
.activity{
    background-color:gray;
    color:white;
    padding-top: 6px;
    border:1px solid grey;


}
.vprofile{
    background-color: white;
    color:black;
    border:1px solid grey;
    padding-top: 6px;
}

.profile p{
    text-align: center;
}